<%= render 'shared/content_header', title: "All posts" %>

<div>
  <% @posts.each do |post| %>
    <div class="span8 well">
      <h4><%= link_to post.title, post_path(post) %></h4>
      <p><%= post.description %></p>
      <span class="quiet">posted by</span> <%= post.creator.username %>
      <small>at <%= post.updated_at %></small>
      <br/>
      <br/>
      <small><%= link_to "#{post.comments.size} comments", post_path(post) %></small>
    </div>
  <% end %>
</div>